# Core app framework
streamlit

# Computer vision & numerical stack
opencv-python
numpy
pandas
pillow

# Deep learning
torch
torchvision

# YOLO models (v8 + v11 support)
ultralytics
# OCR
paddleocr

# Optional: progress bars, etc.
tqdm

# Environment management
python-dotenv
paddlepaddle